In [1]:
import pandas as pd

In [2]:
data = {
    "Base Word": ["play", "happy", "work", "cat", "un", "boy"],
    "Added Morpheme": ["-ed", "-ness", "-er", "-s", "-do", "-ish"],
    "New Word (After Addition)": ["played", "happiness", "worker", "cats", "undo", "boyish"],
    "Deleted Morpheme": ["-", "-", "-", "-s", "-", "-"],
    "New Word (After Deletion)": ["played", "happiness", "worker", "cat", "undo", "boyish"]
}

In [4]:
df = pd.DataFrame(data)
df

,Base Word,Added Morpheme,New Word (After Addition),Deleted Morpheme,New Word (After Deletion)
0,play,-ed,played,-,played
1,happy,-ness,happiness,-,happiness
2,work,-er,worker,-,worker
3,cat,-s,cats,-s,cat
4,un,-do,undo,-,undo
5,boy,-ish,boyish,-,boyish